{% extends 'base.html' %}
{% block content %}

<div class="loader">
    <div class="loader-outter"></div>
    <div class="loader-inner"></div>
</div>

<div class="body-container container-fluid">
    <a class="menu-btn" href="javascript:void(0)">
        <i class="ion ion-grid"></i>
    </a>
    <div class="row justify-content-center">
        <!--=================== side menu ====================-->
        {% include 'navbar.html' %}
        <!--=================== side menu end====================-->

        <!--=================== content body ====================-->
        <div class="col-lg-10 col-md-9 col-12 body_block  align-content-center">
            <div>
                <div class="img_card">
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-7 content_section">
                            <div class="content_box">
                                <div class="content_box_inner">
                                    <div>
                                        <h3>
                                            Just a few words About Me
                                        </h3>
                                        <p>
                                            My name is Victor Wachira and I am a certified full-stack Web Application Developer
                                            and UI/UX designer, currently living in Nairobi, KE. My
                                            primary focus and inspiration for my studies is Web Development. In my free
                                            time, I study human computer interface and the psychology of human computer
                                            interaction. I am both driven and self-motivated, and I am constantly
                                            experimenting with new technologies and techniques. I am very passionate
                                            about Web Development, and strive to better myself as a developer, and the
                                            development community as a whole.
                                        </p>
                                        <!--=================== counter start====================-->
                                        <div class="pt50">
                                            <div class="row justify-content-center">
                                                <div class="col-12 col-md-4">
                                                    <div class="counter_box">
                                                        <div class="divider"></div>
                                                        <span class="counter">2</span>
                                                        <h5>Years of experience</h5>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="counter_box">
                                                        <div class="divider"></div>
                                                        <span class="counter">48</span>
                                                        <h5>happy clients</h5>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="counter_box">
                                                        <div class="divider"></div>
                                                        <span class="counter">82</span>
                                                        <h5>projects completed</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--=================== counter end====================-->
                                    </div>
                                    <!--===================testimonial start====================-->
                                    <div class="testimonial_carousel mt50">

                                        <div class="testimonial_box">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo
                                                est, feugiat nec elementum id, suscipit id nulla. Nulla sit amet luctus
                                                dolor. Etiam finibus consequat ante ac congue. Quisque porttitor
                                                porttitor tempus.
                                            </p>
                                            <div class="testimonial_author">
                                                <img src="/static/img/ola.png" alt="author">
                                                <h5>Gladys M Mwihaki</h5>
                                                <p>project manager <span>company</span></p>
                                            </div>
                                        </div>

                                        <div class="testimonial_box">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo
                                                est, feugiat nec elementum id, suscipit id nulla. Nulla sit amet luctus
                                                dolor. Etiam finibus consequat ante ac congue. Quisque porttitor
                                                porttitor tempus.
                                            </p>
                                            <div class="testimonial_author">
                                                <img src="/static/img/ola2.png" alt="author">
                                                <h5>W William W</h5>
                                                <p>project manager <span>company</span></p>
                                            </div>
                                        </div>

                                        <div class="testimonial_box">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo
                                                est, feugiat nec elementum id, suscipit id nulla. Nulla sit amet luctus
                                                dolor. Etiam finibus consequat ante ac congue. Quisque porttitor
                                                porttitor tempus.
                                            </p>
                                            <div class="testimonial_author">
                                                <img src="/static/img/ola3.png" alt="author">
                                                <h5>Esther Munene</h5>
                                                <p>project manager <span>company</span></p>
                                            </div>
                                        </div>

                                        <div class="testimonial_box">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur leo
                                                est, feugiat nec elementum id, suscipit id nulla. Nulla sit amet luctus
                                                dolor. Etiam finibus consequat ante ac congue. Quisque porttitor
                                                porttitor tempus.
                                            </p>
                                            <div class="testimonial_author">
                                                <img src="/static/img/ola4.png" alt="author">
                                                <h5>Dorcas Wanjiku</h5>
                                                <p>project manager <span>company</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--===================testimonial end====================-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-5 img_section"
                            style="background-image: url('/static/img/bg/rb3.jpg');"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--=================== content body end ====================-->
    </div>
</div>

{% endblock %}