{% extends 'base.html' %}
{% block content %}

<div class="loader">
    <div class="loader-outter"></div>
    <div class="loader-inner"></div>
</div>

<div class="body-container container-fluid">

    <!--=================== menu Button show in small screens ====================-->
    <a class="menu-btn" href="javascript:void(0)">
        <i class="ion ion-grid"></i>
    </a>
    <!--=================== menu Button end====================-->

    <div class="row justify-content-center">
        <!--=================== side menu ====================-->
        <div class="col-lg-2 col-md-3 col-12 menu_block">

            <!--logo -->
            <div class="logo_box">
                <a href="/">
                    <img src="https://fontmeme.com/permalink/220209/1a8df5a903ce744e9f094f13c9cd39dd.png" alt="Shiraa">
                    <img src="https://fontmeme.com/permalink/220209/46b5125ae32f01e431316c4ab126984b.png" alt="Shiraa">
                </a>
            </div>
            <!--logo end-->

            <!--main menu -->
            <div class="side_menu_section">
                <ul class="menu_nav">
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}">
                            About Me
                        </a>
                    </li>
                    <li class="active">
                        <a href="{% url 'services' %}">
                            Competencies
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'portfolio' %}">
                            Portfolio
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'blog' %}">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
            <!--main menu end -->

            <!--filter menu -->
            <div class="side_menu_section">
                <h4 class="side_title">filter portfolio by:</h4>
                <ul id="filtr-container" class="filter_nav">
                    <li data-filter="*" class="active"><a href="javascript:void(0)">all</a></li>
                    <li data-filter=".branding"> <a href="javascript:void(0)"> design</a></li>
                    <li data-filter=".design"><a href="javascript:void(0)">xlister design</a></li>
                    <li data-filter=".photography"><a href="javascript:void(0)">galleries</a></li>
                    <li data-filter=".architecture"><a href="javascript:void(0)">housing & Storage</a></li>
                </ul>
            </div>
            <!--filter menu end -->


            <!--social and copyright -->
            <div class="side_menu_bottom">
                <div class="side_menu_bottom_inner">
                    <ul class="social_menu">
                        <li>
                            <a href="#"> <i class="ion ion-social-pinterest"></i> </a>
                        </li>
                        <li>
                            <a href="#"> <i class="ion ion-social-facebook"></i> </a>
                        </li>
                        <li>
                            <a href="#"> <i class="ion ion-social-twitter"></i> </a>
                        </li>
                        <li>
                            <a href="#"> <i class="ion ion-social-dribbble"></i> </a>
                        </li>
                    </ul>
                    <div class="copy_right">
                        <p class="copyright">Copyright &copy;<script>
                                document.write(new Date().getFullYear());
                            </script> All rights reserved <i class="fa fa-terminal"
                                aria-hidden="true"></i> by <a href="https://vickieshiraa.com" target="_blank">VickieShiraa</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--social and copyright end -->

        </div>
        <!--=================== side menu end====================-->

        <!--=================== content body ====================-->
        <div class="col-lg-10 col-md-9 col-12 body_block  align-content-center">
            <div>
                <!--=================== image card start here  (has two section left and right )====================-->
                <div class="img_card">
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-7 content_section">
                            <div class="content_box">
                                <div class="content_box_inner">
                                    <div class="row justify-content-center">
                                        <!--=================== services boxes start here  ====================-->
                                        <div class="col-md-6 col-12">
                                            <div class="img_box_one text-left">
                                                <img src="/static/img/icons/dj.png" alt="services icon"> Django
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="img_box_one text-left">
                                                <img src="/static/img/icons/flask6.png" alt="services icon"> Flask
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="img_box_one text-left">
                                                <img src="/static/img/icons/javascript-39412.png" alt="services icon"> JavaScript
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="img_box_one text-left">
                                                <img src="/static/img/icons/pololo.png" alt="services icon">Python
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="img_box_one text-left">
                                                <img src="/static/img/icons/file_html_format_type_icon_134685.png" alt="services icon"> HTML
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="img_box_one text-left">
                                                <img src="/static/img/icons/file_css_format_type_icon_134706.png" alt="services icon"> CSS
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="img_box_one text-left">
                                                <img src="/static/img/icons/typo.png" alt="services icon">
                                                <div class="content">
                                                    <h5>
                                                    Designer Criterion
                                                    </h5>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                        Curabitur leo est, feugiat nec elementum.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="img_box_one text-left">
                                                <img src="/static/img/icons/flask.png" alt="services icon">
                                                <div class="content">
                                                    <h5>
                                                        Mix and Match
                                                    </h5>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                        Curabitur leo est, feugiat nec elementum.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="img_box_one text-left">
                                                <img src="/static/img/icons/compass.png" alt="services icon">
                                                <div class="content">
                                                    <h5>
                                                        Design Plans
                                                    </h5>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                        Curabitur leo est, feugiat nec elementum.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="img_box_one text-left">
                                                <img src="/static/img/icons/magic.png" alt="services icon">
                                                <div class="content">
                                                    <h5>
                                                        Brand Identity
                                                    </h5>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                        Curabitur leo est, feugiat nec elementum.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="img_box_one text-left">
                                                <img src="/static/img/icons/idea.png" alt="services icon">
                                                <div class="content">
                                                    <h5>
                                                        Web Design
                                                    </h5>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                        Curabitur leo est, feugiat nec elementum.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="img_box_one text-left">
                                                <img src="/static/img/icons/satelite.png" alt="services icon">
                                                <div class="content">
                                                    <h5>
                                                        Collateral Design
                                                    </h5>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                        Curabitur leo est, feugiat nec elementum.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--=================== services boxes end here  ====================-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-5 img_section"
                            style="background-image: url('/static/img/bg/service_bg.png');"></div>
                    </div>
                </div>
                <!--=================== image card end here ====================-->
            </div>
        </div>
        <!--=================== content body end ====================-->
    </div>
</div>

{% endblock %}